.title {
  font-family: sans-serif;
  text-align: center;
}

.component_container {
  position: relative;
}

.main {
  display: grid;
  gap: 1em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 8px;
}

.addButton {
  padding: 8px;
  background-color: transparent;
  transition: all 0.2s;
  border: 2px solid teal;
  color: teal;
  border-radius: 12px;
  margin-bottom: 8px;
}

.addButton:hover {
  background-color: teal;
  color: white;
}

.removeButton {
  background-color: red;
  color: white;
  padding: 8px;
  border-radius: 12px;
}
